*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('wood-411643_1920.jpg');
    background-size: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center
}

section{
    width:1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.card{
    width: 140px;
    height: 33.3%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform.5s;
}
    .card:active{
        transform: scale(.95);
        transition: transform .2s;
    }
    .card.flip-card{
        /* transform: rotateY(180deg); */
    }

.front-card,
.back-card{
    width: 100%;
    height: 100%;
    padding: 3px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

    .front-card{
        transform: rotateY(180deg); 
    }

    .input{
        color: grey;
        font-style: italic;
        width: 20rem;
        height: 3rem;
        font-size: large;
        padding: 0px 20px;
        margin-bottom: 2rem;
        border-radius: 5px;
        border: none;
        background-color: antiquewhite;
    }
        .input:focus{
            outline-width: 0;
        }
header{
    
    height: 5rem;
    width: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

header h1{
    color: #ffffff;
}
.control-button{
    margin-top: 1rem;
}
.control-button span{
    color: #000000;
    cursor: pointer;
    background-color: rgb(189, 132, 58);
    border-radius: 10px;
    padding: 3px 10px;
    border: solid black 1px;
}
    .control-button:hover{
        opacity: .9;
    }
.name{
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
    
}
